.input-group {
  display: table;

  .input-wrapper {
    display: table-cell;
    width: 100%;
    padding: 4px 11px;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    
    input {
      border: none;
      background-color: #fff;
      background-image: none;
      color: rgba(0, 0, 0, 0.85);
      display: inline-block;
      font-feature-settings: "tnum";
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      margin: 0;
      min-width: 0;
      padding: 4px 11px;
      position: relative;
      transition: all 0.3s;
      width: 100%;
    }
  }

  .input-group-addon {
    display: table-cell;
    position: relative;
    left: -1px;
  }
}
